root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cs,csproj,sln,props,targets,xml}]
indent_size = 4

[*.cs]
# Namespaces and usings
csharp_style_namespace_declarations = file_scoped:warning
dotnet_sort_system_directives_first = true

# var preferences
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

# Expression-bodied members
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = true:suggestion

# Modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning
csharp_prefer_static_local_function = true:suggestion

[*.{json,yml,yaml,md}]
indent_size = 2
